[Desktop Entry]
Name=2buntu
Version=1.0
Exec=qmlscene $@ twobuntu-app.qml
Icon=img/twobuntu-app.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
