[Desktop Entry]
Name=2buntu
Version=0.1
Exec=qmlscene /usr/share/twobuntu-app/twobuntu-app.qml
Icon=/usr/share/twobuntu-app/icons/twobuntu-app.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
